/* Thiết lập kích thước cố định cho các khối chứa hình ảnh */
.category-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
}

/* Đảm bảo rằng hình ảnh luôn chiếm kích thước cố định mà không bị méo */
.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  object-fit: cover; /* Đảm bảo hình ảnh luôn phủ đầy khối mà không bị méo */
  width: 100%;
  height: 100%;
  object-position: center;
  /* aspect-ratio: 1/1; */
}

.bg-cdd {
  background-color: #959fa8;
}

.bg-cddr {
  background-color: #2a2a2b;
}

.bg-ccc {
  background: #fbfbfb;
}

.gp-2 {
  gap: 20px;
}

.gp-10 {
  gap: 10px;
}

.gp-5 {
  gap: 5px;
}

.w-35 {
  width: 35%;
}

.w-70 {
  width: 70%;
}

.fs-18 {
  font-size: 18px;
}

.mgr-10 {
  margin-right: -10px;
}
.text-hover {
  color: #202020;
  transition: 0.3s ease;
}

.text-hover:hover {
  cursor: pointer;
  color: red;
}

.color-cddr {
  color: rgba(0, 0, 0, 0.87);
}
.color-cdd {
  color: rgba(0, 0, 0, 0.65);
}

.item-size {
  background-color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 1.875rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  padding: 0.25rem;
  width: 3.75rem;
}

.card-title--limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ms-10 {
  margin-left: -10px;
}

.mr-10 {
  margin-right: -15px;
}

.mb-50 {
  margin-bottom: 4px;
}

.pr-3 {
  padding-right: 3px;
}
/* -------- Custom Swiper  -------- */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  opacity: 0.5;
  background: #5372f0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}

.card-trans {
  border: 2px solid transparent;
  transition: 0.3s all ease;
  user-select: none;
  background: #ffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  max-height: 500px;
}

.card-trans:hover {
  border: 2px solid #5372f0;
  cursor: grabbing;
}

.card-trans:active {
  cursor: grabbing;
}

.btn-arrow {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 5px;
  border: 2px solid #5372f0;
  color: #5372f0;
  background: none;
  cursor: pointer;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.card-trans:hover .btn-arrow {
  background: #5372f0;
  color: white;
}

.card-img {
  aspect-ratio: 16/9;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 80px;
}

.banner-swiper .swiper-slide-button {
  color: #fff;
  margin-top: 0;
}

.filter__box {
  background-color: #fff;
  border: 1px solid #2a83e9;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px 12px;
  background: #fff;
  color: #4a90e2;
  transition: 0.3s ease;
  margin-right: 6px;
}

.filter__box:hover {
  background: #f1f8fe;
  cursor: grabbing;
  border: 1px solid #2a83e9;
}

.filter__box p {
  font-size: 18px;
}

.filter__branch {
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #333;
  display: flex;
  font-size: 14px;
  line-height: 13px;
  margin-right: 8px;
  margin-bottom: 10px;
  min-height: 36px;
  max-height: 36px;
  padding: 8px 13px;
  vertical-align: top;
  transition: 0.3s ease;
}

.filter__branch--active {
  border: 1px solid #2a83e9;
}

.filter__branch i {
  width: 14px;
  height: 14px;
  background-size: 100%;
  display: inline-block;
  margin-right: 6px;
  color: #2a83e9;
}

.filter__branch img {
  vertical-align: middle;
  width: auto;
  height: 20px;
  margin-right: 5px;
}

.filter__branch:hover {
  background: #f1f8fe;
  cursor: grabbing;
  border: 1px solid #2a83e9;
}

.product.show {
  display: flex;
}

.product.hide {
  display: none;
}

.support h3 {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.support span.text {
  color: #1a3fd3;
  font-weight: 600;
}

.talk .talk__card {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s linear;
  background: #cccc;
  border: 1px solid transparent;
}

.talk .talk__card:hover {
  transform: translateY(-10px);
  border: 1px solid #1a3fd3;
}

.talk__desc {
  max-width: 800px;
}

.talk .talk__card:hover h4 {
  color: #1a3fd3;
}

.talk .talk__card .wrap__img {
  width: 60px;
  height: 60px;
}

.talk .talk__card .wrap__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.contact__form--header p:first-child {
  font-size: 21px;
  text-align: left;
  color: #003981;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 0px;
  font-weight: 500;
}

.contact__form--header h2 {
  color: #0c1517;
  font-size: 40px;
  text-transform: capitalize;
  text-align: left;
}

.contact__form--header p:last-child {
  font-weight: 400;
  font-size: 18px;
  padding: 0 0 20px;
  margin: 0px;
  color: #0c1517;
  text-align: left;
}

.contact-form form input,
.contact-form form textarea {
  box-shadow: 0 0 10px 1px rgba(90, 89, 89, 0.2);
}

.contact__social .social__wrapper .social__heading {
  text-align: center;
  margin-bottom: 30px;
}

.contact__social .social__wrapper .social__content {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.contact__social .social__wrapper .social__content .social__box {
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 0 10px rgb(43, 140, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s all linear;
}
.social__box:hover {
  box-shadow: 0 0 10px rgb(160, 58, 160);
  border: 1px solid #1a3fd3;
  /* transform: translateY(-10px); */
}
.social__box img {
  transition: 0.3s all linear;
}

.social__box:hover img {
  transform: rotate(20deg);
}

.social__box {
  min-height: 270px;
  box-shadow: 0 0 10px rgb(43, 140, 175);
  border: 1px solid #1a3fd3;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .filter__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
  }

  .header__option {
    display: none;
  }

  .header__discount {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .filter__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
  }
  .header__discount {
    display: none;
  }
  .header__option select {
    display: none;
  }
  .list__category {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

@media (max-width: 575.98px) {
  .filter__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }

  .header__option {
    display: none;
  }

  .header__discount {
    display: none;
  }
  .list__category {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    overflow: scroll;
  }
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

.sort--active {
  color: #2a83e9;
}

.home--active {
  font-weight: bold;
}
.sort .sort-select p {
  cursor: pointer;
  transition: 0.2s ease;
}

.sort .sort-select p:active {
  color: #2a83e9;
}

.list__category {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* gap: 10px; */
}

.list__category .wrap__img {
  /* width: 70%; */
}

.list__category .wrap__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list__category .wrap__item {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  transition: 0.3s ease;
}

.list__category .wrap__item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.category-arrow {
  position: relative;
}

.category-arrow .btn-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 100;
  transition: 0.3s ease;
}

.btn-category i {
  background-color: #c5bbbb;
  height: 35px;
  border-radius: 50%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  color: #fff;
}

.btn-category i:hover {
  background-color: #d6d2d2;
  opacity: 1;
  color: #fff;
  transform: matrix3d(10px);
}

.category-arrow .btn-category .icon--next {
  transform: rotate(90deg);
}
.category-arrow .btn-category .icon--prev {
  transform: rotate(-90deg);
}
